*.*%
*.cdslck
.inca.db.*
inca.*.pak
*.swp
*~
*/av_extracted*/
.nfs*
*.cd-
*/mommdl/
config.log
config.status
scripts/qflow
scripts/qflow.sh
src/Makefile
tech/Makefile
tech/osu018/Makefile
tech/osu035/Makefile
tech/osu050/Makefile
